.page__introuvable h1 {
	text-align: center;
	color: red;
}

.page__introuvable .rechercher {
	text-align: center;
	color: red;
	font-weight: 600;
}
.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

input[type="text"] {
	width: 100%;
	padding: 8px 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ddd;
}

button[type="submit"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
