.blocflex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blocflex__article {
	margin: 10px;
	padding: 5px;
	border: 1px solid #aaa;
	flex: 1 0 250px;
	justify-content: center;
}
.blocflex__galerie {
	flex: 1 0 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
}
.galerie {
	background-color: transparent;
}

.bouton__ouvrir {
	padding: 15px 15px;
}
