.menu-note-wp-container {
	.menu {
		// ul
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: 1000px) {
			flex-direction: column;
		}

		.menu-item {
			//li

			list-style-type: none;
			padding: 5px;
			border-radius: 5px;

			a {
				font-weight: 600;
				text-decoration: none;

				.note__numero {
					padding: 3px;
				}

				.note__titre {
					display: none;
					@media screen and (min-width: 1000px) {
						display: inline;
					}
				}
			}
		}
	}
}
