.menu__bloc {
	//nav
	.menu {
		//ul
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		.menu-item {
			//li
			flex: 1 0 30%;

			a {
				font-size: 2rem;
				text-decoration: none;
				color: black;
				margin-left: 50px;
			}
		}
	}
}

.evenement__porte {
	background-image: url("https://s2.svgbox.net/hero-outline.svg?ic=newspaper");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 35px 35px;
}
