.menu-cours-container,
.menu-note-wp-container {
	//nav

	.menu {
		// ul
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: 1000px) {
			flex-direction: column;
		}

		.menu-item {
			// li
			list-style-type: none;

			a {
				display: flex;
				flex: 1;
				align-items: center;
				text-decoration: none;
				font-variant: small-caps;
				background-color: rgba(0, 0, 0, 0.2);
				color: #000;
				border-radius: 5px;
				margin: 5px 0;
				padding: 3px 5px;
				.cours__sigle {
					padding: 3px;
				}
				.cours__titre {
					display: none;
					@media screen and (min-width: 1000px) {
						display: block;
					}
				}
			}
		}
	}
}
