.site__main {
	grid-area: main;
	overflow: hidden;
	margin-right: 25px;
	margin-left: 8px;
}

.page__introuvable h1 {
	text-align: center;
	color: red;
}

.page__introuvable .rechercher {
	text-align: center;
	color: red;
	font-weight: 600;
}

.search_form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
